* {
  font-family: Poppins, sans-serif;
}

body {
  overflow-x: hidden;
  position: relative;
}

#signup,
#login {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#signup .row,
#login .row {
  min-height: 100vh;
}

#signup img,
#login img {
  object-fit: cover;
  height: 100%;
}
